
*{margin: 0px; padding: 0px;}

body{
    margin-top: 70px;
}
.navbar{
    background-color: #ffa366;
    border-bottom: solid 2px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
}

.navbar a{
    color: #000000;
}

.navbar-brand {
    color: #000000;
}

footer {
    padding: 15px 0;
    width: 100%;
    background-color: #ffa366;
}

#bottom-footer{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#bottom-footer a{
    text-decoration: none;
    color: #626262;
    font-size: 12px;
    padding: 0px 20px;
    border-right: 1px solid #ccc;
    font-family: 'OpenSansRegular', Arial, sans-serif;
    font-size: 13px;
    color: #626262;
    padding: 0 12px;
    text-shadow: 1px 1px 0 rgba(200,200,200,1);
}

#bottom-footer p{
    color: #626262;
    font-size: 12px;
}

table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:"";}
abbr,acronym{border:0;}

.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;} 

.poster-main{ position:relative;width:800px;height:270px;}
.poster-main a,.poster-main img{display:block;}
.poster-main .poster-list{width:800px;height:270px;}
.poster-main .poster-list .poster-item{ position:absolute;left:0;top:0;}
.poster-main .poster-btn{ position:absolute;top:0;width:100px;height:270px; z-index:10; cursor:pointer;  opacity:0.8}
.poster-main .poster-prev-btn{left:0; background: url(../img/btn_l.png) no-repeat center center;}
.poster-main .poster-next-btn{right:0; background: url(../img/btn_r.png) no-repeat center center;}