<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/profile.css" rel="stylesheet">

    <script src="https://fb.me/react-0.14.5.js"></script>
    <script src="https://fb.me/react-dom-0.14.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <meta charset="UTF-8">
    <title>New Host Registration</title>
</head>

<body>
<div class="row" id="header"></div>
<div id="wrapper">

    <div class="container">
        <h1>Create New Host</h1>
        <hr>
        <form id="hostInput">

            <div class="form-group">
                <label for="description">Comment</label>
                <textarea class="form-control" rows="5" id="description" placeholder="Comment here please" required></textarea>
            </div>
            <hr>

            <button type="submit" class="btn btn-warning pull-right">Submit</button>

        </form>
        <br><br>
    </div>
</div>
<!-- Footer -->
<footer>
    <div class="row" id="footer"></div>
</footer>
</body>



<!-- jQuery -->
<script src="js/jquery-2.2.1.min.js"></script>

<script type="text/javascript" src="js/createNewHost.js"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/java" src="js/Header.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>
