input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffff00;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #ffa500;
}

input[type=submit]{
    background-color: #ff8000;
}

input[type=checkbox]{
    width: 30px;
	vertical-align: middle;
}

div {
	width: 80%;
    border-radius: 50px;
    background-color: #ffa366;
    padding: 40px;
    font-family: Arial;
    margin-right: auto;
    margin-left: auto;
}

h1{
	text-align: center;
	font-family: Arial;
}