<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/profile.css" rel="stylesheet">



    <meta charset="UTF-8">
    <title>New Comment</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
<div class="row" id="header"></div>
<div id="wrapper">

    <div class="container">
        <h1>Create New Comment</h1>
        <hr>
        <form id="hostInput">

            <div class="form-group">
                <label for="1">Comment</label>
                <textarea class="form-control" rows="10" cols="100" id="comment" placeholder="Comment here please" required></textarea>
<br><br>
                <label for="1">Rating</label>
                <input type="number" id="rate" placeholder="5" required></input>
            </div>
            <hr>
            <button type="submit" id = 'submit'>Submit</button>

        </form>
        <br><br>
    </div>
</div>
<!-- Footer -->
<footer>
    <div class="row" id="footer"></div>
</footer>
</body>



<!-- jQuery -->
<script src="js/jquery-2.2.1.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {
  var cookie =  document.cookie.split(';')
  var token;
  var username;
  var loggedIn = false;

  for (var i = 0;i<cookie.length; i++) {
      var name = cookie[i].split('=')[0].replace(' ' ,'');
      if (name == "token"){
          token = cookie[i].split('=')[1];

      }
  }
  $.post( "/profile/load",
              {'token' :token

              }
      )
      .done(function(data) {

        $.get("/profile/"+data._id +"/info").done(function(d){
          username = d.username;
          console.log(d.username);
          loggedIn = true;
        })
      })
      .error(function(err){
        alert("Please log in");
        loggedIn = false;
      })


  $("#submit").on('click', function(event) {
    var hostID = document.URL;
    hostID = hostID.split('/');
    hostID = hostID[hostID.length-1];
    //hostname = hostname.substring(0,hostname.length-1);
    var comment = $("#comment").val();
    var rate = $("#rate").val();
    /*if (parseInt(rate) > 5 || parseInt(rate) < 0) {
      alert(please input a number between 0 and 5);
    }
    else {*/


    console.log(hostID);
    console.log(comment);
    $.post(
       "http://localhost:3000/order/update",
      {
        'hostID' : hostID,
        'comment' : comment,
        'username' : username,
        'rate' : rate
      }).done(function(res) {
        window.location.href='/order';

      })



alert('Thanks');
  });

})

</script>



<!-- Bootstrap Core JavaScript -->
<script type="text/java" src="js/Header.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>
