<!DOCTYPE html>
	
<html>
<head>
	<meta charset='UTF-8'>
	<link rel='stylesheet' type='text.css' href='css/login_style.css'>
	<h1>Login</h1>
</head>
<body>
<div>
<form autocomplete='on'>
	<p>
	<label for='user_id'>Username or email</label> 
	<input type="text" name="user_id" placeholder="username or email@mail.com" required='required'>
	</p>
	<p>
	<label for='password'>Password</label>
	<input type='password' name='password' placeholder='password' autocomplete='off' required='required'>
	</p>
	<p>
	<label for='checkbox'>Keep me logged in</label>
	<input type='checkbox' name='keep_login'>
	</p>
	<p>
	<input type='submit' value='Login'>
	</p>
	<p>
	Not registered?
	<a href='register.html'>Register!</a>
	</p>
</form>
</div>
</body>
</html>
