<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/profile.css" rel="stylesheet">

    <script src="https://fb.me/react-0.14.5.js"></script>
    <script src="https://fb.me/react-dom-0.14.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <meta charset="UTF-8">
    <title>New Host Registration</title>
</head>

<body>
<div class="row" id="header"></div>

    <div class="container">
        <h1>Create New Host</h1>
        <hr>
        <form id="hostInput">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
                <label for="contact">Contact Information</label>
                <input type="text" class="form-control" id="contact" placeholder="Phone/Email" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="5" id="description" placeholder="Describe your event/restaurant here" required></textarea>
            </div>
            <hr>

            <div class="form-group" id="time">
                <h3>Hours</h3>
                <div class="row">
                    <div class=" col-md-1">Mon </div>
                    <div class=" col-md-4"><input type="text"class="form-control" id="hr0" placeholder="Ex: 10:00 - 22:00" required></div>
                </div>
                <div class="row">
                    <div class=" col-md-1">Tues </div>
                    <div class=" col-md-4"><input type="text"class="form-control" id="hr1" required></div>
                </div>
                <div class="row">
                    <div class=" col-md-1">Wed </div>
                    <div class=" col-md-4"><input type="text"class="form-control" id="hr2" required></div>
                </div>
                <div class="row">
                    <div class=" col-md-1">Thurs </div>
                    <div class=" col-md-4"><input type="text"class="form-control" id="hr3" required></div>
                </div>
                <div class="row">
                    <div class=" col-md-1">Fri </div>
                    <div class=" col-md-4"><input type="text"class="form-control" id="hr4" required></div>
                </div>
                <div class="row">
                    <div class=" col-md-1">Sat </div>
                    <div class=" col-md-4"><input type="text"class="form-control" id="hr5" required></div>
                </div>
                <div class="row">
                    <div class=" col-md-1">Sun </div>
                    <div class=" col-md-4"><input type="text"class="form-control" id="hr6" required></div>
                </div>

            </div>
            <hr>
            <div class="form-group" id="itemList">
                <h3>Add items</h3>
                <div class="row">
                    <div class=" col-md-1">Item 1 </div>
                    <div class=" col-md-4"><input type="text"class="form-control" id="itemName1" placeholder="name of your item" required></div>
                    <div class=" col-md-2"><input class="form-control" type='number' id='price1' placeholder="price..." step="any" required></div>
                </div>

            </div>
            <div class="row">
            <input type="button" value="Add another text input" class = "btn btn-default" onClick="addInput('itemList');">
            <input type="button" value="Remove last text input" class = "btn btn-default" onClick="removeInput('itemList');">
            </div>
            <button type="submit" class="btn btn-warning pull-right">Submit</button>

        </form>
        <br><br>
    </div>
<!-- Footer -->
<footer>
    <div class="row" id="footer"></div>
</footer>
</body>



<!-- jQuery -->
<script src="/js/jquery-2.2.1.min.js"></script>

<script type="text/javascript" src="/js/createNewHost.js"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/babel" src="/js/Header.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>