<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile Page</title> 
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/profile.css" rel="stylesheet">
  <script src="https://fb.me/react-0.14.5.js"></script>
  <script src="https://fb.me/react-dom-0.14.5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">TEXTT</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PlatformName</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                    <li>
                        <a href="register.html">Register</a>
                    </li>
                    <li>
                        <a href="main.html">Home</a>
                    </li>
                    <li>
                        <a href="HostPage.html">Host Page </a>
                    </li>
                    <li>
                        <a href="order.html">Order</a>
                    </li>
                    <li>
                        <a href="Profile.html">Profile</a>
                    </li>
                    <li>
                        <a href="search.html">Search</a>
                    </li>
                    <li>
                        <a href="Admin.html">Admin</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  </head>



<body>
  <div class="container" id ="profile">

  <h1>Profile Information</h1>
  <hr>
  <img src="img/profile.jpg">

  <h2 id ="Name"> Alice Steve</h2>
  <h3 id="Username">alice1989</h3>
  <h3 id="Birthdate">Birthdata: 1989 Jun 12th</h3>
  <h3 id="Email">Email: Alicesteve@gmail.com</h3>
  <h3>Recently visited</h3>

  <p> blabalalabalabal</p>

  <button type="button" class="btn" id ="edit" onclick="change()" >Edit your profile</button>

  </div>

  <div id="editprofile" >

    <img src="img/profile.jpg">
    <h2> Edit your profile now</h2> 
    <hr>
        <form id="profileInput">
            <div class="form-group">
                <label for="username">Username</label>
                <p id="username"></p>
            </div>
            <div class="form-group">
                <label for="name">name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
                <label for="dateofbirth">Birthdate</label>
                <input type="date" class="form-control" id="birthdate" placeholder="birthday" required>
            </div>
            <div class="form-group">
                <label for="email">Contact Email</label>
                <input type="text" class="form-control" id="email" placeholder="xxxx@gmail.com" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
  </div>

  

  <footer>
    <div class="row">
        <div id="bottom-footer">
            <div class="row">
                <div class="col-md-12">
                    <a href="#">Home</a>
                    <a href="#">Link2</a>
                    <a href="#">Link3</a>
                    <a href="#">Link4</a>
                    <a href="#">Link5</a>
                    <a href="#">Link6</a>
                    <a href="#">Link7</a>
                </div>
            </div>
            <p></p>
            <div class="row"><p>Copyright @2016 by PlatForm Name. All Rights Reserved.<p></div>
        </div>
    </div>

</footer>



</body>
<script >
function change(){
  $('#editprofile').show();
  $('#profile').hide();
  $('#username').append($('#Username').text());
}
</script>

<script>
    $( "#profileInput" ).submit(function(e){
        e.preventDefault();
        var values = $(this).serialize();
        

         $.put( "/profile/:id",
                 {
                      
                      email :$( "#email" ).val(),
                      dateofbirth: $( "#birthday" ).val(),
                      name :$( "#name" ).val(),
                 }
         )
         .done(function( data ) {
         console.log(data);
         res.end("update your profile successful");
         });

    })

</script>
<script src="js/jquery-2.2.1.min.js"></script>

<script src="js/bootstrap.min.js"></script>
</html>