<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile Page</title> 
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/profile.css" rel="stylesheet">

  <script src="https://fb.me/react-0.14.5.js"></script>
  <script src="https://fb.me/react-dom-0.14.5.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="js/jquery-2.2.1.min.js"></script>
  <div class="row" id="header"></div>
    <meta charset="UTF-8">
    
    <script>
    var cookie =  document.cookie.split(';')
    var token;
    for (var i = 0;i<cookie.length; i++) {
      if (cookie[i].split('=')[0] == "token"){
          token = cookie[i].split('=')[1];
          
      }
    };

    $.post( "/profile/load",
                {'token' :token
                
                }
        )
        .done(function(data) {

          $.get("/profile/"+data._id +"/info").done(function(d){

            console.log(d);
            
            $("#Name").text(d.name);
            $("#Username").text("Username :  "+d.username);
            $("#Email").text("Email :  " + d.email);
            $("#Birthdate").text("Birthdate :  "+d.dateofbirth);
            $("#recently").text(d.recentlyvisit);
        });

        })
        .fail(function() {
          alert("Please log in first ");
          window.position.href('login.hteml');
        });
    </script>

  </head>



<body>
  <div  class = "profile" id ="profile">

  <h1 style="padding-top: 5%;">Profile Information</h1>
  <hr>
  <img style="display:inline;" src="img/profile.jpg">
  <h2 id ="Name" style="display:inline" class="gold"> </h2>
  <ul>
  
  <li id="Username" class="orange"></li>
  <li id="Birthdate" class="blue"></li>
  <li id="Email" class="green"></li>
  <li class="purple"> Recently visited:

  <p id ="recently visit">zzzz </p>
  </li>
  </ul>
  <button type="button" class="btn" id ="edit" onclick="change()"  >Edit your profile</button>

  </div>

  <div id="editprofile" >

    <img src="img/profile.jpg">
    <h2> Edit your profile now</h2> 
    <hr>
        <form id="profileInput">
            <div >
                <label for="username">Username</label>
                <p id="username"></p>
            </div>
            <div class="orange">
                <label for="name">name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="blue">
                <label for="dateofbirth">Birthdate</label>
                <input type="date" class="form-control" id="birthdate" placeholder="birthday" required>
            </div>
            <div class="green">
                <label for="email">Contact Email</label>
                <input type="text" class="form-control" id="email" placeholder="xxxx@gmail.com" required>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
  </div>

  

  <footer>
    <div class="row" id="footer"></div>
</footer>



</body>
<script >
function change(){
  $('#editprofile').show();
  $('#profile').hide();
  $('#username').append($('#Username').text());
}
</script>

<script>
   $( "#profileInput" ).submit(function(e){
        e.preventDefault();
        var values = $(this).serialize();
        var token = document.cookie.split('=')[1];
        $.post( "/profile/load",
                {'token' :token
                
                }
        )
        .done(function( data ) {
          
          $.ajax( {
                  url:"/profile/update",
                  type:"PUT",
                  data:{    
                     "_id" : data._id,
                     "name" : $( "#name" ).val(),
                     "email":$( "#email" ).val(),
                     "dateofbirth":$("#birthdate").val()}
         }).done(function(token){
          alert("updated!");
         window.location.href='/profile.html';
          }).fail(function(d){
            alert("gg");
          });

         /** $.post( "/profile/find", {
            _id : data._id
          }).done(function(token){
            document.cookie = "token=" + token +";";
            alert("updated!");
            window.location.href='/profile.html';
          });
          **/
       });
        
    

    })

</script>


<script type="text/babel" src="js/Header.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>